In [3]:
import pandas as pd
import numpy as np
import matplotlib.pylab

In [5]:
students = pd.DataFrame({'phone': ['555-1212', '555-1234', '555-1111', '555-2222'], 'age':[17, 17, 18, 18]}, index = ['Melanie', 'Bob', 'Vidhya', 'Ming'])
students

            phone  age
Melanie  555-1212   17
Bob      555-1234   17
Vidhya   555-1111   18
Ming     555-2222   18

In [6]:
students.index

Index(['Melanie', 'Bob', 'Vidhya', 'Ming'], dtype='object')

In [ ]:
df = pd.DataFrame(np.random(6,4), index=['Jenny', 'Frank', 'Wenfei', 'Arun', 'Mary', 'Ivan'], columns=list('ABCD'))